<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/errorpage.css">
    <title>403 Forbiden</title>
</head>
<body>
    <div class="container">
        <div class="box">
          <h1>403</h1>
          <h2>Internal Server Error</h2>
          <hr />
          <p>You Are Forbiden From Entering Page</p>
          <p>Please try the following:</p>
          <ul>
            <li><strong><a href="/" style="color: #000;">Back Home</a></strong></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        &copy 2024 <a href="#">DLLTP</a>. All Rights Reserved.
      </div>
</body>
</html>