<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/errorpage.css">
    <title>500 Iternal Server Error</title>
</head>
<body>
    <div class="container">
        <div class="box">
          <h1>500</h1>
          <h2>Internal Server Error</h2>
          <hr />
          <p>Our Server ran into a problem</p>
          <p>Please try the following:</p>
          <ul>
            <li>Try Reloading the page.</li>
            <li>Re-submit the form. </li>
            <li><strong><a href="/" style="color: #000;">Contact</a></strong> the administrator and make them aware of this issue.</li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        &copy 2024 <a href="#">DLLTP</a>. All Rights Reserved.
      </div>
</body>
</html>